.trending__img {
    max-width: 100px;
    max-height: 150px;
    margin: 5px;
}

.trending__item {
    list-style: none;
}

.public-trending__movies {
    display: flex;
}

.mediapage__image {
    max-width: 250px;
    max-height: 400px;
}


.media__character-img {
    max-width: 100px;
    max-height: 150px;
}

.trending__item-anchor {
    text-decoration: none!important;
}

.search__image {
    height: 150px;
    width: 100px;
    margin: 1%;
}

.search__container {
    /* display:flex;
    flex-wrap: wrap;
    flex-direction: row; */
}

.search_result-item {
    
}

.search__results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.search__load-more {
    
}

.discover__list {
    display: flex;
    flex-wrap: wrap;
}

.discover__item {
    list-style: none;
}

.discover__item-image {
    height: 150px;
    width: 100px;
    margin: 1%;
}
