.trending__img {
    max-width: 100px;
    max-height: 150px;
    margin: 5px;
}

.trending__item {
    list-style: none;
}

.public-trending__movies {
    display: flex;
}

.mediapage__image {
    max-width: 250px;
    max-height: 400px;
}


.media__character-img {
    max-width: 100px;
    max-height: 150px;
}

.trending__item-anchor {
    text-decoration: none!important;
}