.trending__img {
    max-width: 100px;
    max-height: 150px;
    margin: 5px;
}

.trending__item {
    list-style: none;
}

.public-trending__movies {
    display: flex;
}

.mediapage__image {
    max-width: 250px;
    max-height: 400px;
}


.media__character-img {
    max-width: 100px;
    max-height: 150px;
}

.trending__item-anchor {
    text-decoration: none!important;
}

.search__image {
    height: 150px;
    width: 100px;
    margin: 1%;
}

.search__container {
    /* display:flex;
    flex-wrap: wrap;
    flex-direction: row; */
}

.search_result-item {
    
}

.search__results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.search__load-more {
    
}

.discover__list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}

.discover__item {
    list-style: none;
    padding-left: 0!important;
}

.discover__item-image {
    max-width: 22rem;
    max-height: 10rem;
    margin: 1%;
    border-radius: 5%;
}

.discover__anchor{
    text-decoration: none;
}

.card-text {
    text-decoration: none;
    color: black!important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-height: 100px;
}

.long-title {
    font-size: 1.2rem!important;
}

.really-long-title {
    font-size: 1rem!important;
}


.card {
    max-width: 22rem;
    max-height: 10.5rem;
}

.loading__icon {
    width: 50px;
    height: 50px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.loading__container {
    display: flex;
    justify-content: center;
}